  /**
   * TODO?
   * Add burger menu (Used Input checkbox or test prototype idea with <details> HTML element) (Waiting)
   * Adapt design to responsive with Media Queries (In Progress - Line 374)
   */

/* ==========================================================================
  @Import CSS
  ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ==========================================================================
  CSS Reset
  ========================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type="submit"] {
    cursor: pointer;
}

textarea {
    resize: vertical; /* Fix: Only resize verticaly possibility */
}

/* ==========================================================================
  Variables
  ========================================================================== */

:root {

    /*
      Colors
      ========================================================================== */
    --color-primary: #dc2314;
    --color-secondary: #ffe100;
    --color-tertiary: #ec4b88;
    --color-quaternary: #00005c;
    --color-title: #dc2314;
    --color-text: #00005c;

    /* Gradients */
    --gradient-header: linear-gradient(180deg, #00005c 0%, #000 100%);

    /*
      Fonts
      ========================================================================== */
    --font-family-title: 'Bebas Neue', sans-serif;
    --font-family-text: 'Open Sans', sans-serif;

    /* Font Size */
    --font-size-normal: .875rem; /* 14px */

}

/* ==========================================================================
  Custom CSS
  ========================================================================== */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-family-text);
    font-size: var(--font-size-normal);
    font-weight: 400;
}

/*
  Header
  ========================================================================== */

header {
    border-bottom: 4px solid var(--color-quaternary);
    background: var(--gradient-header);
}

header .container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    
    .top-header & {
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .bottom-header & {
        align-items: center;
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .logo {
        flex-grow: 1;
    }

    .navbar {
        flex-grow: 2;
    }
}

.baseline {
    font-family: var(--font-family-title);
    font-size: .938rem;
    font-weight: 400;
    color: #fff;
    margin-left: 80px;

    span:first-child {
        color: var(--color-tertiary);
    }
    
    span:last-child {
        color: var(--color-primary);
    }
}

.top-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);
}

/* Top Feed News */

.feed {
    display: flex;
    align-items: center;
    gap: .75rem;

    & span {
        display: flex;
    }

    .badge {
        padding: 5px 10px;
        border: 1px solid var(--color-secondary);
        border-radius: 26px;
        font-family: var(--font-family-title);
        font-size: 1rem;
        line-height: 1;
        text-transform: uppercase;
        color: var(--color-secondary);
    }
    
    .desc {
        height: 100%;
        font-size: .938rem;
        color: #fff;
    }
}

/* Top Contact Info */

.top-contact a {
    color: #fff;
    font-size: .938rem;
    transition: all 0.5s ease;
        
    &:hover,
    &:focus {
        color: var(--color-primary);
        
        &::before {
            color: var(--color-primary);
        }
    }

    &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: rgba(255, 255, 255, 0.50);
        transition: all 0.5s ease;
    }

    &[href^="tel:"]::before {
        content: "\f095";
    }

    &[href^="mailto:"]::before {
        content: "\f0e0";
    }
}

/* Menu NavBar */

.menu-list {
    display: flex;

    .top-contact & {
        align-items: center;
        gap: 1.5rem;
    }
    
    .navbar & {
        gap: 5.625rem;
    }

    .social-networks & {
        gap: .625rem;
    }
}

.navbar a {
    font-family: var(--font-family-title);
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-secondary);
    transition: all 0.5s ease;

    &:hover,
    &:focus,
    &.current {
        color: var(--color-primary);
    }
}

/* Hero */

.hero {
    width: 100%;
    height: 40vh;
    border-bottom: 4px solid var(--color-quaternary);
    background: center / cover url(/assets/images/header_banner.jpg);
}

/*
  Main
  ========================================================================== */

main {
    flex-grow: 1;

    .container {
        display: flex;
        width: 80%;
        margin: 70px auto;
    }

    h1 {
        margin-bottom: 18px;
        font-size: 1.625rem;
        color: var(--color-primary);
    }
}

h1, 
.copyright, 
.social-networks h3 {
    font-family: var(--font-family-title);
    text-transform: uppercase;
}

/* Contact Form */

.contact {
    margin: 0 auto;
    width: 460px;

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-top: 32px;
        display: flex;
        gap: .625rem;
        font-family: var(--font-family-title);
        font-size: 1.125rem;

        i {
            color: rgba(0, 0, 0, 0.50);
            font-family: var(--font-family-text);
            font-size: var(--font-size-normal);
        }
    }

}

input[type="text"],
input[type="email"],
textarea {
    padding: 16px;
    border: 1px solid var(--color-tertiary);
    border-radius: 10px;
    background: #fff;
    font-family: var(--font-family-text);

    &:focus {
        outline-color: var(--color-quaternary);
    }
}

/* Button */

.button {
    display: flex;
    justify-content: flex-end;   
}

.button a, 
input[type="submit"] {
    margin-top: 22px;
    padding: 10px 18px;
    border: 2px solid var(--color-primary);
    border-radius: 36px;
    font-size: var(--font-size-normal);
    font-weight: 600;
    color: #fff;
    background-color: var(--color-primary);
    transition: all 0.5s ease;

    &:hover,
    &:focus {
        color: var(--color-primary);
        background-color: transparent;
    }
}

/*
  Footer
  ========================================================================== */

footer {
    display: flex;
    padding: 36px 0;
    border-top: 4px solid var(--color-primary);
    background-color: var(--color-secondary);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
}

.copyright, 
.social-networks h3 {
    font-size: 1rem;
}

.social-networks h3 {
    margin-bottom: 12px;
}

.social-networks a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    transition: all 0.5s ease;

    &:hover,
    &:focus {
        background-color: transparent;
        color: var(--color-primary);
    }

    i {
        font-size: 1rem;
    }
}

/* ==========================================================================
  Media Queries
  ========================================================================== */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
     .contact {
        width: 100%;
    }

    footer .container {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 1.625rem;
    }

    .social-networks h3 {
        text-align: center;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) { 
    .navbar,
    .hero {
        display: none;
    }

    main {
        .container {
            margin: 36px auto;
        }
    }
}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 992px) { 
    .top-header {
        display: none;
    }

    .menu-list {
        .navbar & {
            gap: 1.25rem;
        }
    }
}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1200px) {
    .logo img {
        width: 102px;
    }

    .baseline {
        display: none;
    }

    .menu-list {
        .top-header & {
            justify-content: flex-end;
        }

        .navbar & {
            gap: 2rem;
        }
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1400px) {
    header .container {
        justify-content: space-between;
        
        .logo, 
        .navbar  {
            flex-grow: 0;
        }
    }
}
